@font-face {
    font-family: "Roboto Bold";
    src: url(./assets/fonts/Roboto-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Regular";
    src: url(./assets/fonts/Roboto-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

:root {

    /* Font Family */
    --font-roboto-bold: "Roboto Bold", sans-serif;
    --font-roboto-regular: "Roboto Regular", sans-serif;

    /* Colors */
    --color-white: #FFFFFF;
    --color-grey: #949494;
    --color-blue-800: #242742;
    --color-blue-700: #36384D;
    --color-red: #FF6155;

    /* Spacing */
    --spacing-100: .5rem;
    --spacing-200: 1rem;
    --spacing-300: 1.5rem;
    --spacing-400: 2rem;
    --spacing-500: 2.5rem;
    --spacing-600: 3rem;
    --spacing-800: 4rem;
    --spacing-900: 4.5rem;
    --spacing-1300: 6.5rem;

}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100dvh;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: center;
    background-color: var(--color-blue-700);
    letter-spacing: 0;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

button {
    display: inline-block;
    position: relative;
    width: 100%;
    color: var(--color-white);
    background: var(--color-blue-800);
    border-radius: 8px;
    padding: var(--spacing-200) var(--spacing-500);
    cursor: pointer;
    border: none;
    transition: outline 150ms linear;
    z-index: 0;
    overflow: hidden;
}

button::before {
    position: absolute;
    display: block;
    content: "";
    inset: 0;
    background: #FF6A3A;
    background: linear-gradient(90deg, rgba(255, 106, 58, 1) 0%, rgba(255, 82, 123, 1) 100%);
    z-index: -1;
    border-radius: inherit;
    opacity: 0;
    transition: opacity 150ms linear;
}

button:hover::before {
    opacity: 1;
}

button:focus-visible {
    outline: 3px solid var(--color-blue-800);
    outline-offset: 2px;
}

.text-preset-1 {
    font-size: 2.5rem;
    line-height: 100%;
}

.text-preset-2 {
    font-size: 1rem;
    line-height: 150%;
}

.text-preset-3 {
    font-size: .75rem;
    line-height: 150%;
}

.font-bold {
    font-family: var(--font-roboto-bold);
    font-weight: 700;
}

.font-regular {
    font-family: var(--font-roboto-regular);
    font-weight: 400;
}

.form-item {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: center;
    gap: var(--spacing-100);
}

.form-input-label-and-error {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.form-input-label {
    color: var(--color-blue-800);
}

.form-input-error {
    color: var(--color-red);
    opacity: 0;
    transition: opacity 150ms linear;
}

input {
    border: 1px solid var(--color-grey);
    border-radius: 8px;
    background-color: var(--color-white);
    padding: var(--spacing-200) var(--spacing-300);
    outline: none;
    color: var(--color-blue-800);
    transition: border 150ms linear;
}

input:focus,
input:not(:placeholder-shown) {
    border-color: var(--color-blue-800);
}

.form-item-error .form-input-error {
    opacity: 100%;
}

.form-item-error input {
    border-color: var(--color-red);
    color: var(--color-red);
    background-color: #FFE7E6;
}

.form-item-error input:focus,
.form-item-error input:not(:placeholder-shown) {
    border-color: var(--color-red);
}


.newsletter-sign-up-card {
    background-color: var(--color-white);
    min-height: 100dvh;
}

.newsletter-sign-up-card-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: start;
    gap: var(--spacing-500);
}

.newsletter-sign-up-card-content-and-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    gap: var(--spacing-500);
    padding: 0 var(--spacing-300);
}

.newsletter-sign-up-card-content {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: start;
    gap: var(--spacing-300);
}

.newsletter-sign-up-card-title,
.newsletter-sign-up-card-description,
.newsletter-sign-up-card-list-item {
    color: var(--color-blue-800);
    text-align: left;
}

.newsletter-sign-up-card-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    gap: var(--spacing-100);
}

.newsletter-sign-up-card-list-item {
    display: flex;
    align-items: flex-start;
    gap: var(--spacing-200);
}

.newsletter-sign-up-card-list-item::before {
    display: inline-block;
    flex-shrink: 0;
    content: "";
    width: 21px;
    height: 21px;
    background-image: url(./assets/icons/icon-list.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    vertical-align: middle;
}

.newsletter-sign-up-card-form-email {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: center;
    gap: var(--spacing-300);
}




.newsletter-sign-up-card-success {
    background-color: var(--color-white);
    min-height: 100dvh;
    padding: 0 var(--spacing-200);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newsletter-sign-up-card-success-wrapper {
    min-height: 623px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0;
}

.newsletter-sign-up-card-success-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: var(--spacing-400);
}

.newsletter-sign-up-card-success-content-title {
    color: var(--color-blue-800);
}

.newsletter-sign-up-card-success-content-description {
    color: var(--color-blue-800);
}

.newsletter-sign-up-card-success-content-description-link {
    color: inherit;
}

.newsletter-sign-up-card-success-image {
    width: 4rem;
    height: 4rem;
    display: inline-block;
}












@media screen and (min-width:768px) {
    body {
        align-items: center;
    }

    .text-preset-1 {
        font-size: 3.5rem;
    }

    .newsletter-sign-up-card {
        min-height: auto;
        border-radius: 36px;
        padding: var(--spacing-500);
    }

    .newsletter-sign-up-card-content-and-form {
        gap: var(--spacing-300);
        padding: 0;
    }


    .newsletter-sign-up-card-success {
        min-height: auto;
        max-width: 504px;
        border-radius: 36px;
        padding: var(--spacing-800);
    }

    .newsletter-sign-up-card-success-wrapper {
        min-height: auto;
        gap: var(--spacing-400);
    }

}

@media screen and (min-width:1024px) {

    .newsletter-sign-up-card {
        border-radius: 36px;
        padding: var(--spacing-400);
        max-width: 56.5rem;
    }

    .newsletter-sign-up-card-wrapper {
        flex-flow: row nowrap;
        gap: var(--spacing-800);
        align-items: center;
    }

    .newsletter-sign-up-card-image {
        order: 1;
    }

    .newsletter-sign-up-card-content-and-form {
        order: 0;
    }

    .newsletter-sign-up-card-content,
    .newsletter-sign-up-card-form {
        gap: var(--spacing-400);
    }

}